raspberry/volumes/nodered/data/flows.json
[
    {
        "id": "3be5a0934ad57c2a",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f17a4e7d893935f",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "706961626330ec25",
        "type": "mqtt-broker",
        "name": "MQTT Docker",
        "broker": "192.168.69.85",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6220e32e145d684",
        "type": "influxdb",
        "hostname": "192.168.69.85",
        "port": "8086",
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "db9a628f62bc4cb5",
        "type": "mqtt in",
        "z": "3be5a0934ad57c2a",
        "name": "/home/sensors",
        "topic": "/home/sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "706961626330ec25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "a1164e30a2d6f969"
            ]
        ]
    },
    {
        "id": "8868628b7caba69a",
        "type": "influxdb out",
        "z": "3be5a0934ad57c2a",
        "influxdb": "f6220e32e145d684",
        "name": "",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1164e30a2d6f969",
        "type": "change",
        "z": "3be5a0934ad57c2a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"temperature\": msg.payload.t,\t    \"humidity\": msg.payload.h,\t    \"light\": msg.payload.l,\t    \"moisture\": msg.payload.m,\t    \"pH\": msg.payload.p\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "8868628b7caba69a"
            ]
        ]
    },
    {
        "id": "8c8309179cd3b05a",
        "type": "mqtt out",
        "z": "2f17a4e7d893935f",
        "name": "/admin/controls",
        "topic": "/admin/controls",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "706961626330ec25",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "e3b99622087e362f",
        "type": "http in",
        "z": "2f17a4e7d893935f",
        "name": "/controls",
        "url": "/controls",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "dd4ab5457629a9d4"
            ]
        ]
    },
    {
        "id": "dd4ab5457629a9d4",
        "type": "change",
        "z": "2f17a4e7d893935f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"irrigate\" : msg.payload.irrigate\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "8c8309179cd3b05a",
                "4512b61efa6d9cc6"
            ]
        ]
    },
    {
        "id": "4512b61efa6d9cc6",
        "type": "http response",
        "z": "2f17a4e7d893935f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 240,
        "wires": []
    }
]